@charset "ISO-8859-1";
body{
	background: url("../img/9e1761ceb91fdf7460bc4d66f0681f62.jpg");	
	font-family: Elephant;
}
.carousel-item{
	width: 	90%;
	margin-left: 70px;
	margin-right: 500px;
	padding: 55px 0;
}
.carousel-caption {
	margin-left: 70px;
	padding: 55px 0;
}
.carousel-indicators{	
	padding: 55px 0;		
}