@charset "ISO-8859-1";
body{
	background: url("../img/cine.jpg");	
	 background-size: cover;
    background-attachment: fixed;
    background-position: center center;
	background-repeat: no-repeat;
	font-family: Elephant;
}
.carousel-item{
	width: 	90%;
	margin-left: 70px;
	margin-right: 500px;
	padding: 55px 0;
}
.carousel-caption {
	margin-left: 60px;
	padding: 55px 0;
}
.carousel-indicators{
	margin-left: 24	0px;	
	padding: 55px 0;		
}