@charset "ISO-8859-1";
@charset "ISO-8859-1";



body{
	font-family: 'calibri';
}
header{
	background: #14D8 ;
	width: 100%;
	clear: both;
	content: '';
	display: block;
	
}
.menu{
	width: 900px;
	margin: 0 auto;
}
footer{
	
	color: #fff;
}
nav{
	float: right;
}

.texto::before{
	display: block;
	content: '';
	width: 0%;
	background: #fff;
	height: 5px;
	top: 0;
	position: absolute;
	transition: width 0.2s;
	cursor: pointer;
}
.texto:hover::before{
	width: 100%;
}
:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: black;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 100%;
	margin: auto;

}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;

}


header .logotipo {
	 margin-left: 50px;
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Peliculas ----- ----- ----- */

	.peliculas{
	padding: 20px 20px 20xp;
	position: relative;
	margin: 20px;
	left: 100px;
	display: flex;
	justify-content: center
	
}
.img-1{
    margin-left: 50px;
}
.img-2{
    margin-left: 50px;
}
.img-3{
    margin-left: 50px;
}
.img-4{
	
    margin-left: 50px;
}
.img-5{
	  margin-left: 50px;
    margin-top: 50px;
}