@charset "ISO-8859-1";

body{
	background: url("/img/fondo2.jpg");	
	 background-size: cover;
    background-attachment: fixed;
    background-position: center center;
	background-repeat: no-repeat;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;	
}
header{
	background: rgb(0,050,200);
	width: 100%;
	clear: both;
	content: '';
	display: table;
	
}
.menu{
	width: 900px;
	margin: 0 auto;
}

.texto::before{
	display: block;
	content: '';
	width: 0%;
	background: #fff;
	height: 5px;
	top: 0;
	position: absolute;
	transition: width 0.2s;
	cursor: pointer;
}
.texto:hover::before{
	width: 100%;
}
:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	background: black;
	padding: 20px 20px 20px;
	margin-top: 100px;
	margin-right: 40px;
	margin-left: 300px;
	border-radius: 4px;
	
	
}
.logotipo{
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 50px;
	margin-top: 20px;
	margin-left: 20px;
	
}
.activo{
	font-family: 'calibri';
	font-size: 20px;
    text-decoration: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 15px 5px;
	margin-right: 20px;
	
}
.container .fila{
	width: 20%;
	background: white;
	text-align:center;
	padding: 20px 20px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	border: nine;
	font-family: 'calibri';
	font-size: 18px;
	max-width: 300px;
	display: run-in;
	
}
.container .accion{
	width: 20%;
	text-align:center;
	background: white;	
	margin-bottom: 20px;
	border: nine;
	font-family: 'calibri';
	font-size: 18px;
	max-width: 300px;
	border-radius: 4px;
	padding: 20px 20px 20px;
	
}
.table-dark{
	
	width: 100rgb(255, 128, 128)sparent;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid rgb(250, 0, 0);
	font-family: 'calibri';
	font-size: 18px;
	overflow: hidden;
	
}


.modalfade{
	margin-top: 400px;
	padding: 20px 500px 100px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	text-align:center;
	
}

.modalcontent{
	 border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  rgb(0, 64, 128);
    padding: 10px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.form-control{
	 border: white;
    width: 100%;
    font-size: 20px;
    padding: 10px 10px 10px;
    border-radius: 2px;
    cursor: pointer;
}


.modaltitle{
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: white;
	font-size: 20px;
	padding: 10px 0;
}
.modalbody{
	font-family: 'calibri';
	font-weight: normal;
	color: white;
	font-size: 30px;
    padding: 0 10px 10px;
}
.btn-pbtn-primary{
	width: 20%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 16px;
}

.btn-sbtn-secondary{
	width: 20%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 16px;
}