<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cine Empire</title>
<link rel="shortcut icon" href="/img/logodelcine.jpg" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="shortcut icon" href="/img/palomitas.jpg" type="image/x-icon">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/Intro.css">
</head>
<body>
<header>

        <div class="container__menu">
            <div class="logo">
                <img src="/img/logodelcinejng" alt="">
            </div>
            <div class="menu">
                <i class="fas fa-bars" id="btn_menu"></i>
                <div id="back_menu"></div>
                <nav id="nav">
                    <img src="img/logodelcine.jng" alt="">
                    <ul>
                         <li><a href="Intro">Inicio</a></li>
                        <li><a href="indexa">Cartelera</a></li>
                        <li><a href="Pelicula">Peliculas</a></li>
                        <li><a href="#">Contactos</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1>Bienvenidos a su cine favorito</h1>


                    <p><a class="link" href="otroUsuario" target="_blank">Registrarse</a></p>
                   <p>Logeate si ya tienes tu cuenta</p>
                     <p><a class="link" href="login" target="_blank">Logearse</a></p>
                </div>

                <div class="palomitas">
                    <img src="/img/palomitas.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
</body>
</html>