<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/css/ListaUsuario.css}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="shortcut icon" href="/img/logodelcine.jpg" type="image/x-icon">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<link th:href="@{/css/ListarUsuario.css}" rel="stylesheet" type="text/css" href="/static/css/ListarUsuario.css">
<title>CineEmpire</title>
</head>
<body>
<header>
<div class="menu">
			
		</div>
		
		<div class="contenedor">
			<h2 class="logotipo">SuCineFavorito</h2>
			<nav>
				<a href="#" class="activo">Inicio</a>
				<a href="#" class="activo">Cartelera</a>
				<a href="#" class="activo">Peliculas</a>
				<a href="#" class="activo">Promociones</a>
				<a href="#" class="activo">Recomendadas</a>
			</nav>
		</div>
</header>
<div class="container">
<div class="alert" th:if="${formUsuarioErrorMessage}" th:text="${formUsuarioErrorMessage}">Name Error</div>
<table class="table">
  <thead> 
    <tr>
      <th class="fila" scope="col">DNI</th>
      <th class="fila" scope="col">Nombre</th>
      <th class="fila" scope="col">Apellido</th>
      <th class="fila" scope="col">Fecha de Nacimiento</th>
      <th class="fila" scope="col">Email</th>
      <th class="fila" scope="col">Contraseña</th>
      <th class="fila" scope="col">Estado</th>
      <th class="accion" scope="col">Acciones</th>
    </tr>
  </thead>
  
  <tbody>
    <tr th:each="user:${listausuarios}">
      <td class="usuarios" th:text="${user.dni}"></td>
      <td class="usuarios" th:text="${user.nombre}"></td>
      <td class="usuarios" th:text="${user.apellido}"></td>
      <td class="usuarios" th:text="${user.fechanacimiento}"></td>
      <td class="usuarios" th:text="${user.email}"></td>
      <td class="usuarios" th:text="${user.contraseña}"></td>
      <td class="usuarios" th:text="${user.estado}"></td>
      <td class="usuarios" th:text="${user.acciones}"></td>
      <td>
      	<a class="botoneditar" th:href="@{/update/}+${user.dni}">editar</a>
      	<a class="botontirar"  th:href="'javascript:confirmarEliminar(\''+${user.dni}+'\');'">borrar</a>
      </td>
      
    </tr>
  </tbody>
</table>
</div>

	<!-- MODAL ELIMINAR Usuario funciona con JS-->
	<div class="modalfade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modalcontent">
									<div><button type="button"  class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
										<div class="modal-header">
											<h5 class="modaltitle" id="eliminarModalTitulo">Confirmar Eliminar</h5>
										</div>
										<div class="modalbody"><h6>¿Seguro quiere eliminar este Usuario?</h6></div>
										<form>										
										<input class="form-control" type="text" id="identificadorDeUsuario" name="userIdHiddenInput"/>
										
										</form>
										<div class="modalfooter">									
											<button type="button" class="btn-pbtn-primary" th:onclick="eliminarUsuario()">Si, Borrar</button>
											<button type="button" class="btn-sbtn-secondary"	data-dismiss="modal">Cancelar</button>
										</div>
									</div>
								</div>
							</div>
	
	<script type="text/javascript">
		var exampleModal = document.getElementById('modalEliminar')
		exampleModal.addEventListener("click", function(event) {
			exampleModal.style.display="block"
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-mail')
			var recipient2 = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = exampleModal.querySelector('.modal-ti	tle')
			var modalBodyInput = exampleModal
					.querySelector('.modal-body input')

			modalTitle.textContent = 'Eliminar Usuario ' + recipient
			modalBodyInput.value = recipient2
		})
	</script>

	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		

	<script type="text/javascript">
		function confirmarEliminar(id) {
			$("#identificadorDeUsuario").val(id);
			//$('#modalEliminar').modal('toggle');
			exampleModal.style.display="block"
		}

		function eliminarUsuario() {
			var id = $("#identificadorDeUsuario").val();
			window.location = "/del/" + id;
		}
	</script>
</body>
</html>