<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>doctorstrange</title>
<link rel="shortcut icon" href="/img/logodelcine.jpg" type="image/x-icon">
<link th:href="@{/css/Pelicula.css}" rel="stylesheet" type="text/css" href="/static/css/Pelicula.css">
</head>
<body>
<header>
<div class="toggle"><img src="/img/toggle.png"></div>
</header>
<div class="banner">

<div class="content">
<h2>DOCTOR STRANGE EN EL MULTIVERSO DE LA LOCURA</h2>
<p>En esta nueva aventura, el Doctor Strange (Benedict Cumberbatch) 
va a poner a prueba los limites de sus poderes y esto le llevara a explorar
 una nueva dimension de sus capacidades. Tras haber fallado su hechizo, cuando 
 trataba de ayudar a Spider-Man (Tom Holland) con su identidad secreta,  tiene que recurrir 
 a una vieja amiga, Wanda Maximoff (Elizabeth Olsen) para enmendar su error. Como nunca antes, el
  famoso hechicero de Marvel explorara los oscuros rincones del Multiverso, donde debera contar con nuevos
   y viejos aliados si quiere sobrevivir a las peligrosas realidades alternativas del universo y enfrentarse
    a un nuevo misterioso enemigo.</p>
<h3>Duracion: 2h 06min</h3>
<h3>Genero: Fantasia, Accion, Aventura</h3>
<h3>fecha de estreno: 6 de mayo de 2022</h3>
<a href="#" class="play"><img src="/img/play.png">watch Trailer</a>
<div class="slide"></div>
<ul  class="sci">
<li><a href="#" ><img src="/img/facebook.png"></a></li>
<li><a href="#" ><img src="/img/twitter.png"></a></li>
<li><a href="#"  ><img src="/img/Instagram.png"></a></li>
</ul>
</div>
</div>
</body>
</html>